<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daughter</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<div class="layout">
    <header class="header">
        <h1>ChilepepperLABS</h1>
    </header>
    <div class="main-layout">
        <aside class="sidebar">
            <button id="btn-mode" class="menu-button">Mode</button>
            <button id="btn-devices" class="menu-button">Devices</button>
            <button id="btn-wifi" class="menu-button">WiFi</button>
        </aside>
        <main class="content">
        </main>
    </div>
</div>
</body>
</html>